.button {
  background-color: #87CEEB;
  border: 1px;
  border-style: solid;
  border-radius: 7px;
  box-sizing: border-box;
  color: black;
  text-align: center;
  height: 25px;
  margin: 1px;
}

.button:hover {
  background: #1915f7;
  border: 1px;
  border-style: solid;
  border-color: #000;
  color: white;
  cursor: pointer;
}